/* Style de la barre de navigation */

.navbar {
  background-color: #222; /* fond du menu */
}

.nav-link {
  color: #fff; /* couleur des liens */
  margin-left: 15px;
}

.nav-link.active-link {
  font-weight: bold;
  color: #ffcc00; /* couleur du lien actif */
}
